In [3]:
pip install ggplot

Requirement already satisfied: ggplot in c:\users\shantanu jha\anaconda3\lib\site-packages (0.11.5)
Requirement already satisfied: brewer2mpl in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (1.4.1)
Requirement already satisfied: cycler in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (0.11.0)
Requirement already satisfied: matplotlib in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (3.5.1)
Requirement already satisfied: numpy in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (1.21.5)
Requirement already satisfied: pandas in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (1.4.2)
Requirement already satisfied: patsy>=0.4 in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (0.5.2)
Requirement already satisfied: scipy in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (1.7.3)
Requirement already satisfied: six in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (1.16.0)
Requirement already satisfied: statsmodels in c:\users\shantanu jha\anaconda3\lib\site-packages (from ggplot) (0.13.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\shantanu jha\anaconda3\lib\site-packages (from matplotlib->ggplot) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\shantanu jha\anaconda3\lib\site-packages (from matplotlib->ggplot) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\shantanu jha\anaconda3\lib\site-packages (from matplotlib->ggplot) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\shantanu jha\anaconda3\lib\site-packages (from matplotlib->ggplot) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\shantanu jha\anaconda3\lib\site-packages (from matplotlib->ggplot) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\shantanu jha\anaconda3\lib\site-packages (from matplotlib->ggplot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shantanu jha\anaconda3\lib\site-packages (from pandas->ggplot) (2021.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\shantanu jha\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\shantanu jha\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shantanu jha\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\shantanu jha\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\shantanu jha\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd

In [17]:
df = pd.read_csv('F:\\intern\\Recruitment_Data.csv')

In [18]:
df

     attrition  performance_rating  sales_quota_pct recruiting_source
0            1                   3         1.088190    Applied Online
1            0                   3         2.394173               NaN
2            1                   2         0.497530            Campus
3            0                   2         2.513958               NaN
4            0                   3         1.424789    Applied Online
..         ...                 ...              ...               ...
441          0                   3         1.627813            Campus
442          1                   4         0.689682          Referral
443          0                   4         1.196198               NaN
444          0                   4         1.598213    Applied Online
445          0                   2         0.582642               NaN

[446 rows x 4 columns]

In [20]:
print(df.head(3))

   attrition  performance_rating  sales_quota_pct recruiting_source
0          1                   3         1.088190    Applied Online
1          0                   3         2.394173               NaN
2          1                   2         0.497530            Campus

In [21]:
# 1. Print out the average Sales Number grouped by Recruiting Source
avg_sales_Numbers = df.groupby('recruiting_source')['sales_quota_pct'].mean().reset_index()
avg_sales_Numbers

  recruiting_source  sales_quota_pct
0    Applied Online         1.058590
1            Campus         0.908035
2          Referral         1.023198
3       Search Firm         0.886960

In [22]:
# 2. Print out the average Attrition Number grouped by Recruiting Source

avg_Attrition_Numbers = df.groupby('recruiting_source')['attrition'].mean().reset_index()
avg_Attrition_Numbers

  recruiting_source  attrition
0    Applied Online   0.246154
1            Campus   0.285714
2          Referral   0.333333
3       Search Firm   0.500000

In [23]:
# 3. Take a look at these numbers to get an idea about how each Source is performing on these numbers 
# Keep in mind that we are looking for sources that have high Sales numbers and low Attrition numbers.
# As observed,"Applied Online" recruiting source has highest sales and low attrition